@{
    ViewBag.Title = "Movies";
    ViewBag.Favicon = "movies.svg";
}

<div class="container-fluid">
    <div class="menu mt-3 mb-3">
        <form class="search" asp-action="search" method="get">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="none"><path fill="#ffffff" d="M19 11a8 8 0 1 1-16 0a8 8 0 0 1 16 0" opacity=".16"/><path stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314"/></g></svg>
            <input type="text" name="search" placeholder="Search">
            <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M3 20v-6l8-2l-8-2V4l19 8z"/></svg></button>
        </form>

    <a class="btn btn-success" asp-action="Create">Create new movie</a>
    </div>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Sinopsis</th>
                <th>Rating</th>
                <th>Duration</th>
                <th>Category</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <th>@movie.Id</th>
                    <td>@movie.Name</td>
                    <td><img src="~/images/@movie.Image" width="150px" alt="@movie.Name Image"></td>
                    <td class="tdDescription">@movie.Sinopsis</td>
                    <td>@movie.Rating</td>
                    <td>@movie.Duration</td>
                    <td>@movie.Category</td>
                    <td>@movie.ReleaseDate</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@movie.Id">Details</a>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" asp-action="DeleteUpload" asp-route-id="@movie.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>